h1{
	color: red;
	text-decoration: underline;
	text-align: center;
}
h3{
	text-decoration: underline;
	text-align: center;
}
p{
	color:blue;
}
.leftbox{
	position:absolute;
	left:0px;
	right:200px;
}
.rightbox
{
	position:absolute;
	left:200px;
	right:0px;
}
.centerbox{
	text-align: center;
}
ul{color:blue;}
ol{color:red;}
nav{

	text-align: right;
}
